*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #f2f3f5;
    margin-top: 20px;
    position: relative;
    margin: 20px;
    box-shadow: 3px 2px 4px #dddddd;
    /* height: 500px; */
    /* height: 100vh; */
    /* border: 2px solid red; */
    /* overflow: scroll; */

   
}

.container .container-image{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
    padding: 6px;
}

.container .container-image .image {
    width: 250px; /* Aumentei a largura */
    height: 250px; /* Aumentei a altura */
    border: 10px solid white;
    overflow: hidden;
    box-shadow: 5px 7px rgba(0, 0, 0, 0.1);
}

.h2fotos1{
    margin-left: 120px;
    margin-top: 30PX;
}
hr{
    border: none;
    border-top: 3px solid #B08E6B;
    width: 170px;
    margin-left: 120px;
}
.container .container-image .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.2s linear;
}
.container .container-image .foto-item:hover img{
    transform: scale(1.2);
    transition: transform 0.2s linear;
}
